<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636156363416-jnfhktg28pviioilk907defbrms2qh3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636156363416-jnfhktg28pviioilk907defbrms2qh3s</string>
	<key>API_KEY</key>
	<string>AIzaSyC6nF3Y2KarMrrFc1VsT6EM-OMcU6KpZJM</string>
	<key>GCM_SENDER_ID</key>
	<string>636156363416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darrylgraham.revolution</string>
	<key>PROJECT_ID</key>
	<string>cosmiq-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>cosmiq-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636156363416:ios:1a5517e4040e91824e06ed</string>
</dict>
</plist>